body {
    background-color: white;
    color: blue;
    font-family: "Serif";
}
 h1{
     text-align: center;
     font-size: center;
 }

 h2{
    text-align: center;
    font-size: center;
 }


nav{
    display: flex;
    flex-wrap: wrap;
}